// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom Colors
$custom-blue: #0174b3;
$custom-orange: #e47929;

// Override Bootstrap Variables
$primary: $custom-blue;
$warning: $custom-orange;